portfolio_bot_workflow_v3.json
{
    "name": "Portfolio AI Agent V3 (Calendar + Email)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "responseMode": "responseNode",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                200,
                300
            ],
            "webhookId": "portfolio-chat"
        },
        {
            "parameters": {
                "modelId": {
                    "__rl": true,
                    "value": "gpt-4o-mini",
                    "mode": "list",
                    "cachedResultName": "GPT-4O-MINI"
                },
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "Eres el Asistente Virtual Inteligente del Portfolio de Damián Díaz. \n### OBJETIVO\nResponder preguntas y AGENDAR entrevistas.\n### PERFIL DAMIÁN\n- Backend Developer & AI Specialist.\n- Abogado + Dev.\n- Stack: Python, n8n, OpenAI, Docker.\n### LÓGICA DE AGENDAMIENTO (IMPORTANTE)\nSi el usuario quiere agendar:\n1. Revisa si en su mensaje ya dio su EMAIL y la FECHA/HORA.\n2. SI NO LOS DIO: Responde pidiéndolos amablemente. JSON: { \"intent\": \"question\", \"reply\": \"Para agendar, necesito tu email y la fecha/hora preferida.\" }\n3. SI LOS DIO: Extrae los datos y responde confirmando. JSON: { \"intent\": \"schedule\", \"reply\": \"Perfecto, estoy procesando tu solicitud para esa fecha.\", \"date\": \"YYYY-MM-DDTHH:mm:ss\", \"email\": \"email@ejemplo.com\" }\n### FORMATO DE RESPUESTA\nSiempre JSON:\n{ \"reply\": \"texto\", \"intent\": \"question\" | \"schedule\", \"date\": \"...\", \"email\": \"...\" }"
                        },
                        {
                            "role": "user",
                            "content": "={{ $json.body.message }}"
                        }
                    ]
                },
                "jsonOutput": false,
                "options": {}
            },
            "type": "@n8n/n8n-nodes-langchain.openAi",
            "typeVersion": 2.1,
            "position": [
                420,
                300
            ],
            "id": "openai-brain",
            "name": "Message a model",
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "// Adaptación para estructura de nodo LangChain OpenAI v2.1 (Estructura de la imagen)\nlet raw = '';\n\n// 1. Verificamos si la respuesta viene en content[0].text (Como se vio en tu imagen)\nif ($json.content && Array.isArray($json.content) && $json.content[0] && $json.content[0].text) {\n  raw = $json.content[0].text;\n} \n// 2. Verificamos si viene en message.content (Estructura alternativa)\nelse if ($json.message && $json.message.content) {\n  if (Array.isArray($json.message.content) && $json.message.content[0]?.text) {\n    raw = $json.message.content[0].text;\n  } else {\n    raw = $json.message.content;\n  }\n}\n// 3. Fallbacks estándar\nelse {\n  raw = $json.text || $json.response || $json.output || JSON.stringify($json);\n}\n\n// Limpiar markdown y parsear\nlet parsed = {};\ntry {\n  const clean = raw.toString().replace(/^```json\\n?|\\n?```$/g, '');\n  parsed = JSON.parse(clean);\n} catch (e) {\n  // Si no es JSON valido, asumimos que es texto plano y lo devolvemos como respuesta\n  parsed = { reply: raw.toString(), intent: \"question\" };\n}\n\nreturn { json: parsed };"
            },
            "id": "json-parser",
            "name": "Parsear JSON",
            "type": "n8n-nodes-base.code",
            "typeVersion": 1,
            "position": [
                740,
                300
            ]
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.intent }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "schedule",
                            "output": 1
                        }
                    ]
                },
                "fallbackOutput": 0
            },
            "id": "router",
            "name": "Router (Intent)",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                960,
                300
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200
                },
                "respondWith": "json",
                "responseBody": "={\n  \"reply\": \"{{ $json.reply }}\"\n}"
            },
            "id": "response-question",
            "name": "Respuesta Normal",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1200,
                200
            ]
        },
        {
            "parameters": {
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $json.date || $now.plus(1, 'day') }}",
                "end": "={{ $json.date ? DateTime.fromISO($json.date).plus({hours: 1}) : $now.plus(1, 'day').plus({hours: 1}) }}",
                "summary": "Entrevista con {{ $json.email }}",
                "additionalFields": {
                    "attendees": [
                        "={{ $json.email }}"
                    ],
                    "description": "Agendado por Portfolio AI Agent"
                }
            },
            "id": "google-calendar",
            "name": "Crear Evento",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                1200,
                400
            ],
            "credentials": {
                "googleCalendarOAuth2": {
                    "id": "YOUR_CALENDAR_CRED_ID",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "resource": "message",
                "subject": "Confirmación de Entrevista - Damián Díaz",
                "message": "Hola,\n\nTe confirmo que hemos agendado la entrevista para el día {{ $json.date }}.\n\nSaludos,\nDamián (AI Agent)",
                "toList": "={{ $json.email }}",
                "additionalFields": {}
            },
            "id": "gmail-send",
            "name": "Enviar Email",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 2,
            "position": [
                1420,
                400
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CRED_ID",
                    "name": "Gmail account"
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200
                },
                "respondWith": "json",
                "responseBody": "={\n  \"reply\": \"¡Listo! He agendado la reunión y te envié un correo de confirmación a {{ $json.email }}.\"\n}"
            },
            "id": "response-schedule",
            "name": "Respuesta Agendado",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1640,
                400
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Message a model",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Message a model": {
            "main": [
                [
                    {
                        "node": "Parsear JSON",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Parsear JSON": {
            "main": [
                [
                    {
                        "node": "Router (Intent)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Router (Intent)": {
            "main": [
                [
                    {
                        "node": "Respuesta Normal",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Crear Evento",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Crear Evento": {
            "main": [
                [
                    {
                        "node": "Enviar Email",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enviar Email": {
            "main": [
                [
                    {
                        "node": "Respuesta Agendado",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}