portfolio_bot_workflow.json
{
    "name": "Portfolio AI Agent + Calendar",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "chat",
                "options": {}
            },
            "id": "webhook-trigger",
            "name": "Webhook Trigger",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                380,
                300
            ],
            "webhookId": "portfolio-chat"
        },
        {
            "parameters": {
                "model": "gpt-4o-mini",
                "messages": {
                    "values": [
                        {
                            "role": "system",
                            "content": "Eres el Asistente Virtual Inteligente del Portfolio de Damián Díaz. \n\n### TU OBJETIVO\nResponder preguntas de reclutadores sobre el perfil de Damián y ayudarlos a agendar una entrevista si muestran interés real.\n\n### PERFIL DE DAMIÁN\n- **Rol:** Backend Developer & AI Automation Specialist.\n- **Background:** Es una fusión única: Abogado + Programador. Esto le da una lógica estructurada y normativa ideal para sistemas complejos.\n- **Ubicación:** Buenos Aires, Argentina.\n- **Stack Técnico:** Python, n8n (Experto), OpenAI API, Docker, Git, SQL.\n\n### PROYECTOS DESTACADOS\n1. **Maia (Healthcare):** Asistente médico con GPT-4o para anamnesis.\n2. **ProFit Coach (Sports):** Automatización de rutinas de alto rendimiento.\n3. **UBA Pasantías Monitor:** Bot de scraping y alertas en tiempo real.\n4. **Assurance Agent:** Bot de WhatsApp para seguros con RAG (Lectura de PDFs).\n\n### INSTRUCCIONES DE COMPORTAMIENTO\n- Sé profesional pero cercano.\n- Si preguntan por experiencia, destacá su trabajo en VaoVao automatizando procesos.\n- SI EL RECLUTADOR QUIERE UNA REUNIÓN: Decile que envíe un correo a diazzdamian00@gmail.com o que sugiera un horario (aquí se activaría la integración con Google Calendar).\n\n### FORMATO DE RESPUESTA\nResponde en formato JSON: { \"reply\": \"tu respuesta aqui\", \"intent\": \"question_or_schedule\" }"
                        },
                        {
                            "role": "user",
                            "content": "={{ $json.body.message }}"
                        }
                    ]
                },
                "jsonOutput": true
            },
            "id": "openai-brain",
            "name": "Cerebro AI (GPT)",
            "type": "n8n-nodes-base.openAi1",
            "typeVersion": 1,
            "position": [
                600,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_OPENAI_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "dataType": "string",
                "value1": "={{ $json.message.content.intent }}",
                "rules": {
                    "rules": [
                        {
                            "value2": "schedule",
                            "output": 1,
                            "operation": "contains"
                        }
                    ]
                },
                "fallbackOutput": 0
            },
            "id": "router",
            "name": "Enrutador",
            "type": "n8n-nodes-base.switch",
            "typeVersion": 1,
            "position": [
                820,
                300
            ]
        },
        {
            "parameters": {
                "operation": "create",
                "calendar": {
                    "__rl": true,
                    "mode": "list",
                    "value": "primary"
                },
                "start": "={{ $now }}",
                "end": "={{ $now.plus(1, 'hours') }}",
                "summary": "Entrevista con Reclutador (Portfolio Bot)",
                "additionalFields": {
                    "description": "Agendado automáticamente desde el Portfolio."
                }
            },
            "id": "google-calendar",
            "name": "Google Calendar",
            "type": "n8n-nodes-base.googleCalendar",
            "typeVersion": 1,
            "position": [
                1100,
                450
            ],
            "credentials": {
                "googleCalendarOAuth2": {
                    "id": "YOUR_GOOGLE_CALENDAR_CREDENTIAL_ID",
                    "name": "Google Calendar account"
                }
            }
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200
                },
                "respondWith": "json",
                "responseBody": "={\n  \"reply\": \"{{ $json.message.content.reply }}\"\n}"
            },
            "id": "webhook-response",
            "name": "Respuesta Normal",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1100,
                200
            ]
        },
        {
            "parameters": {
                "options": {
                    "responseCode": 200
                },
                "respondWith": "json",
                "responseBody": "={\n  \"reply\": \"Perfecto, he pre-agendado el espacio en el calendario. Te llegará una confirmación.\"\n}"
            },
            "id": "webhook-response-calendar",
            "name": "Respuesta Calendario",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                1320,
                450
            ]
        }
    ],
    "connections": {
        "Webhook Trigger": {
            "main": [
                [
                    {
                        "node": "Cerebro AI (GPT)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Cerebro AI (GPT)": {
            "main": [
                [
                    {
                        "node": "Enrutador",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Enrutador": {
            "main": [
                [
                    {
                        "node": "Respuesta Normal",
                        "type": "main",
                        "index": 0
                    }
                ],
                [
                    {
                        "node": "Google Calendar",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Calendar": {
            "main": [
                [
                    {
                        "node": "Respuesta Calendario",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}